.navbarcontainer {
  display: flex;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbarie {
  display: flex;
  background-color: black;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  position: sticky;
  top: 0;
}

.goldtext {
  color: gold;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 80%;
}

.navimg {
  width: 10%; 
  height: 10%;
}

body {
  padding: 0;
  margin: 0;
  background-color: #0f0f0f;
}

.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 100px;
  z-index: 2;
  position: absolute;
  right: 21%;
  top: 22%;
}
  
  @media (max-width: 600px) {
    .navbarcontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }
  
    .navimg {
        width: 25%; 
        height: 25%;
    }

    .goldtext {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .imgpak1 {
        display: none;
      }

    #cardDescription {
        width: 20%;
    }

    .badge {
      position: absolute;
      top: 85%;    /* pas aan naar wens */
      right: 44%;
    }
  }


  @media (max-width: 751px) {
    .afrekenencard {
        position: fixed;
        width: 30%; /* Set width as a percentage of the viewport width */
        max-width: 130px; /* Set a max-width to prevent it from becoming too wide */
        height: 100px; /* Set a fixed height */
        bottom: 20px;
        background-color: grey;
        right: 20px;
        border-radius: 10px;
        z-index: 1;
        transition: background-color 1s;
      }
    
      .afrekenencard:hover {
        background-color: red;
        color: white;
      }
  }
  
  

a {
    text-decoration: none;
    color: gold;
    transition: color 300ms;
}

a:hover {
    color: red;
    text-decoration: none;
    outline: #0f0f0f;
}

.navimg {
  width: 100%;
  max-width: 70px;
}

.navul li h1 {
  color: gold;
  font-size: 1.3rem;
  text-transform: uppercase;
  text-align: center;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gold    ; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.card {
    position: relative;
    background-color: gold;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 70%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 4%;
    flex-direction: row;
  }

  .imgpak1 {
    width: 10%;
    height: 10%;
    border-radius: 4px;
  }

  .description {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .vwall{
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: grey;
    color: black;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }

  .vwall:hover {
    background-color: red;
    color: black;
  }

  .buttons {
    text-decoration: none;
    background-color: rgb(255, 1, 1);
    color: white;
    width: 100px;
    border-radius: 3px;
    list-style: none;
    outline: none;
    display: inline-block;
    border-style: none;
    cursor: pointer;
    transition: color 300ms;
    height: 40px;
  }

  .buttons:hover {
    background-color: rgb(95, 95, 95);
    color: white;
  }
  
  .notification {
    display: none;
    position: fixed;
    bottom: 80px;
    left: 95%;
    transform: translateX(-50%);
    background-color: #ff0000;
    color: white;
    padding: 15px;
    border-radius: 5px;
    z-index: 1;
  }

  .afrekenencard {
    position: fixed;
    width: 80%;
    width: 300px;
    height: 80%;
    height: 200px;
    bottom: 20px;
    background-color: grey;
    right: 20px;
    border-radius: 10px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: 1000ms;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }

  .afrekenencard:hover {
    background-color: red;
    color: white;
    transition: 1000ms;
  }

  .afrekenen {
    text-decoration: none;
    background-color: rgb(255, 1, 1);
    color: white;
    width: 100px;
    border-radius: 3px;
    list-style: none;
    outline: none;
    display: inline-block;
    border-style: none;
    cursor: pointer;
    transition: color 300ms;
    height: 40px;
  }

  .afrekenen:hover {
    background-color: grey;
    color: white;
    transition: 300ms;
  }
