.navbarcontainer {
    display: flex;
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .goldtext {
    color: gold;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  
  .navimg {
    width: 10%; 
    height: 10%;
  }
  
  body {
    padding: 0;
    margin: 0;
    background-color: #0f0f0f;
  }
  
  @media (max-width: 600px) {
    .navbarcontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: static;
    }
  
    .navimg {
        width: 25%; 
        height: 25%;
    }
  
    .goldtext {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
  }
  
  
  .maincontainer {
    margin-top: 100px; 
    padding: 0;
    margin: 0;
    background-color: #0f0f0f;
  }
  
  
  .navimg {
    width: 100%;
    max-width: 70px;
  }
  
  .navul li h1 {
    color: gold;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
  }
  
  
  a {
    text-decoration: none;
    color: gold;
    transition: color 300ms;
  }
  
  a:hover {
    color: red;
    text-decoration: none;
    outline: #0f0f0f;
  }
  
  ::-webkit-scrollbar {
    width: 3px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: gold    ; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }
  
  .contact {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      color: gold;
      background-color: rgb(31, 31, 31);
      width: 50%;
      margin-top: 8%;
      flex-wrap: wrap;
  }
  
  .container {
      display: flex;
      justify-content: center;
  }
  
  .width {
    width: 350px;
  }