.navbarcontainer {
    display: flex;
    background-color: black;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.goldtext {
    color: gold;
    list-style-type: none;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
    width: 80%;
}

.navimg {
    width: 10%; 
    height: 10%;
}

body {
    padding: 0;
    margin: 0;
}

@media (max-width: 600px) {
    .navbarcontainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

    .navimg {
        width: 25%; 
        height: 25%;
    }

    .goldtext {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }
}
